# Note that I'm not sure if this file can all be installed from a single `pip install -r wsl_requirements.txt` command.
# The conflicts might prevent the all the files from being installed
# In this case: comment out `gym`, `stable-baselines3` and `pettingzoo` and then install those individually by themselves.

cffi==1.15.0
cloudpickle==2.1.0
cycler==0.11.0
fonttools==4.33.3
# gym==0.24.0  # Conflict errors might be raised here; just try to install it (I might get around to fixing things to work with gym==0.21.0 but that won't be today)
gym-notices==0.0.6
importlib-metadata==4.11.4
kiwisolver==1.4.2
matplotlib==3.5.2
numpy==1.22.4
opencv-python
packaging==21.3
pandas==1.4.2
pettingzoo==1.19.0
Pillow==9.1.1
pycparser==2.21
pygame==2.1.0
pymunk==6.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
# stable-baselines3==1.5.0
# supersuit==3.5.0
tensorboard
tinyscaler==1.2.4
# torch==1.11.0
typing-extensions==4.2.0
wandb
zipp==3.8.0
